
<div class="card mt-2" style="width: 18rem;background-color:#D9D9D9 ;">
 
  <img class="card-img-top"
  [src]="transform(pr.image)"   
  alt="CheeseCard image cap"> 
  <div class="card-body ">
    <h5 class="card-title text-center">{{pr.nom | uppercase}}</h5>
    <span class="btn btn-small btn-outline-danger disabled   mt-2">{{pr.prix}}</span>
    <a [routerLink]="['/list',pr.id]" href="#" class="btn btn-small  btn-dark  mt-2 float-end">Detail</a>
    <a class="btn btn-small  text-white  mt-3 "style="background-color: #DB6230;width: 100%;" (click)="getProduits(pr)">Ajouter au Panier</a>
  </div>
</div>
 